<link href="/css/tailwind.css" rel="stylesheet">
{{ define "main" }}
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    <div>tag list page</div>
    {{ range .Pages }}
    <div class="card bg-base-100 shadow-xl">
        <div class="card-body">
            <h2 class="card-title">{{ .Title }}</h2>
            <p>{{ .Summary }}</p>
            <div class="card-actions justify-end">
                <a href="{{ .Permalink }}" class="btn btn-primary">詳細を見る</a>
            </div>
        </div>
    </div>
    {{ end }}
</div>
{{ end }}